body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  .AddExpanseForm .ant-row.ant-form-item {
    margin: 0;
  }
  
  .AddExpanseForm .ant-form-item-label {
    line-height: 0px;
  }
  
  .ant-modal-footer {
    padding: 0;
  }
  
  .ant-form  fieldset{ 
    border: 1px solid red;
      border-radius: 10px;
      padding: 20px;
  }
  .ant-form legend{
      border: 1px solid red;
      margin-left: 20px;
      background: orange;
      border-radius: 7px;
      padding: 0px 20px !important ;
      width:auto;
  }
  